/venv/

# Temporary folder
/temp/

# Sample data files
/data/

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio files
/.vscode/

# IntelliJ
/.idea/


