#boards {
    background-color: green;    
}

.board-container {
    display: flex;
    flex-direction: column;
}

.board {
    background-color: coral;
    min-height: 12rem;  /* rem = relative em-dashes (makes em-dashes big for readability) */
    height: max-content;
    margin: 0.5rem;
}

.top-btn-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 0.5rem;
}

.add-board-btn {
    background-color: turquoise;
}

.default-card-class {
    background-color: aliceblue;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    font-family: Lucinda Sans Unicode;
    font-size: 18px;
}
