<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet/main.css') }}">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form class="registration" action="/registration">
    <h2>Registration</h2>
    <label for="username">Username:</label>
    <input type="text" id="username">
    <label for="password">Password:</label>
    <input type="text" id="password">
    <label for="password">Confirm password:</label>
    <input type="text" id="confirm_password">
    <input type="submit" value="Register">
</form>
</body>
</html>